@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
body {
  background-color: burlywood;
  }
head { 
font-size: 60px; font-style: bold;
}
h1 {
  color: azure; font-style: italic; border: 5px dotted white; border-radius: 10px; font-family: 'Amatic SC', cursive;
}
/* CSS Comment here */